<div class="slide-in-right">
  <div *ngIf="show" @slideInOut>
    <div class="alert alert-success alert-dismissible fade show">
      <button type="button" aria-hidden="true" class="close" (click)="reloadNotification()" data-dismiss="alert" aria-label="Close">
        <i class="nc-icon nc-simple-remove"></i>
      </button>
      <span>
        <i data-notify="fa" class="fa fa-bell">&nbsp; &nbsp;</i>
        L 'employé a été enregistré avec succès
      </span>
    </div>
  </div>
</div>

<div class="slide-in-right">
  <div *ngIf="show2" @slideInOut>
    <div class="alert alert-warning alert-dismissible fade show">
      <button type="button" aria-hidden="true" class="close" (click)="reloadNotification()" data-dismiss="alert" aria-label="Close">
        <i class="nc-icon nc-simple-remove"></i>
      </button>
      <span>
        <i data-notify="fa" class="fa fa-bell">&nbsp; &nbsp;</i>
        Vérifiez que le mot de passe et sa confirmation sont bien identiques !!!
      </span>
    </div>
  </div>
</div>

<div class="col-lg-9 col-md-6 col-6" style="margin-left: 100px;">
  <div class="card card-stats">
    <div class="card-body">
      <div class="row">
        <div class="col-5 col-md-4">
          <div class="icons- text-lg-left icon-warning" style="margin-top: 3px">
            <i class="nc-icon nc-tile-56 text-default"></i>
          </div>
        </div>
        <div class="col-7 col-md-8">
          <div class="numbers">
            <p class="card-category">Formulaire</p>
          </div>
        </div>
        <div class="col-xl-9 col-md-8">
          <div class="card-header">
            <h2 class="card-title">Enregistrement d'un employé</h2>
          </div>
        </div>
      </div>
      <form [formGroup]="Employee" (ngSubmit)="createEmployee()">
        <div class="row" style="border-top: solid 1px lightgray">
          <div class="card-body col-sm-6">
            <div class="form-group has-label col-xl-11" style="width: 100%">
              <label class="control-label" for="name">Nom: <span class="star">*</span></label>
              <input formControlName="name" class="form-control" name="name" required type="text">
              <small class="text-danger" hidden>Le nom doit être saisi</small>
            </div>
          </div>
          <div class="card-body col-sm-6">
            <div class="form-group has-label col-xl-11" style="width: 100%">
              <label class="control-label" for="surname">Prénom: <span class="star">*</span></label>
              <input formControlName="surname" class="form-control" name="surname" required type="text">
              <small class="text-danger" hidden>Le prénom doit être saisi</small>
            </div>
          </div>
          <div class="card-body col-sm-6">
            <div class="form-group has-label col-xl-11" style="width: 100%">
              <label class="control-label" for="birthday">Date de naissance: <span class="star">*</span></label>
              <input formControlName="birthday" class="form-control" name="birthday" required type="date">
            </div>
          </div>
          <div class="card-body col-sm-6">
            <div class="form-group has-label col-xl-11" style="width: 100%">
              <label class="control-label" for="email">Adresse Mail: <span class="star">*</span></label>
              <input formControlName="email" class="form-control" name="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" required type="email">
              <small class="text-danger" hidden>Le mail doit être saisi</small>
            </div>
          </div>
          <div class="card-body col-sm-6">
            <div class="form-group has-label col-xl-11" style="width: 100%">
              <label class="control-label" for="phone">Téléphone: <span class="star">*</span></label>
              <input formControlName="phone" class="form-control" name="phone" required type="tel" pattern="[0-9()+- ]*" title="Veuillez entrer un numéro de téléphone valide" placeholder="Entrez votre numéro de téléphone">
              <small class="text-danger" hidden>Le numéro doit être saisi</small>
            </div>
          </div>
          <div class="card-body col-sm-6">
            <div class="dropdown">
              <div class="form-group">
                <label class="control-label" for="position">Poste de l'employé: <span class="star">*</span></label>
                <select id="taskSelect" formControlName="position" name="position" class="form-control">
                  <option value="" disabled selected>Choisir un poste</option>
                  <option *ngFor="let p of allPosition" [value]="p.id">{{ p.position_name }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="card-body col-sm-6">
            <div class="form-group has-label">
              <label class="control-label" for="password">Mot de passe: <span class="star">*</span></label>
              <input formControlName="password" class="form-control" name="password" required type="password">
              <small class="text-danger" hidden>Le mot de passe est requis</small>
            </div>
          </div>
          <div class="card-body col-sm-6">
            <div class="form-group has-label">
              <label class="control-label" for="confirmPassword">Confirmation du mot de passe: <span class="star">*</span></label>
              <input formControlName="confirmPassword" class="form-control" name="confirmPassword" required type="password">
              <small class="text-danger" hidden>Les mots de passe ne correspondent pas</small>
            </div>
          </div>
          <div class="card-body col-sm-6">
            <div class="form-group has-label">
              <label class="control-label" for="address">Adresse de l'employé: <span class="star">*</span></label>
              <input formControlName="address" class="form-control" name="address" required type="text">
              <small class="text-danger" hidden>L'adresse doit être saisie</small>
            </div>
          </div>
          <div class="card-body col-sm-6">
            <button style="margin-left: 50px; margin-top: 50px;" type="submit" class="btn btn-outline-default btn-round">
              <i class="fa fa-save"></i> Enregistrer l'employé
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
