<div class="col-lg-9 col-md-6 col-6" style="margin-left: 100px;">
  <div class="card card-stats">
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-5 col-md-4">
          <div class="icons- text-lg-left icon-warning" style="margin-top: 3px">
            <i class="nc-icon nc-tile-56 text-default"></i>
          </div>
        </div>
        <div class="col-7 col-md-8">
          <div class="numbers">
            <p class="card-category">Formulaire</p>
          </div>
        </div>
      </div>
      <div class="card-header">
        <h2 class="card-title">Enregistrement d'un employé</h2>
      </div>
      <form [formGroup]="Employee" (ngSubmit)="createEmployee()">
        <div class="row" style="border-top: solid 1px lightgray; padding-top: 15px;">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label" for="name">Nom: <span class="text-danger">*</span></label>
              <input formControlName="name" class="form-control" id="name" required type="text">

            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label" for="surname">Prénom: <span class="text-danger">*</span></label>
              <input formControlName="surname" class="form-control" id="surname" required type="text">

            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label" for="birthday">Date de naissance: <span class="text-danger">*</span></label>
              <input formControlName="birthday" class="form-control" id="birthday" required type="date">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label" for="email">Adresse Mail: <span class="text-danger">*</span></label>
              <input formControlName="email" class="form-control" id="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" required type="email">

            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label" for="phone">Téléphone: <span class="text-danger">*</span></label>
              <input formControlName="phone" class="form-control" id="phone" required type="tel" pattern="[0-9()+- ]*" title="Veuillez entrer un numéro de téléphone valide" placeholder="Entrez votre numéro de téléphone">

            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label" for="position">Poste de l'employé: <span class="text-danger">*</span></label>
              <select id="position" formControlName="position" class="form-control">
                <option value="" disabled selected>Choisir un poste</option>
                <option *ngFor="let p of allPosition" [value]="p.id">{{ p.position_name }}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label" for="password">Mot de passe: <span class="text-danger">*</span></label>
              <input formControlName="password" class="form-control" id="password" required type="password">

            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label" for="confirmPassword">Confirmation du mot de passe: <span class="text-danger">*</span></label>
              <input formControlName="confirmPassword" class="form-control" id="confirmPassword" required type="password">

            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label" for="address">Adresse de l'employé: <span class="text-danger">*</span></label>
              <input formControlName="address" class="form-control" id="address" required type="text">

            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label" for="date_insertion">Date d'insertion dans le système: <span class="text-danger">*</span></label>
              <input  [(ngModel)]="date_insertion" [ngModelOptions]="{standalone : true}" class="form-control" name="date_insertion" required type="date">
            </div>
          </div>
          <div class="col-12 mt-3">
            <button type="submit" class="btn btn-outline-default btn-round">
              <i class="fa fa-save"></i> Enregistrer l'employé
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
