

<div class="col-md-12">
  <div class="card">
    <div class="card-header row">
      <div class="col">
        <h4 class="card-title">Liste des taches</h4>
      </div>
      <div class="col text-right" >
        <div>
          <div class="input-group no-border text-right">
            <button (click)="generePdf()" class="btn btn-outline-default btn-round"  style="margin-left: 100px">
              <i class="nc-icon nc-cloud-download-93"></i> imprimer la liste des taches
            </button>
          </div>
        </div>
      </div>
    </div>


    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class=" text-default">
          <th *ngFor="let h of header" style="width: 100px">
            {{h}}
          </th>
          </thead>
          <tbody>
          @for(p of dataSource    | paginate: {
            itemsPerPage: 5,
            currentPage: currentPage,
            totalItems: dataSource.length}; track p){
            <tr class="animate__animated animate__fadeInUp">
              <th>
                {{dataSource.indexOf(p) + 1 }} ({{p.id}})
              </th>
              <th>
                {{p.task_name}}
              </th>
              <th>
                {{p.task_description}}
              </th>
              <th>
                {{dataStatus.at(dataSource.indexOf(p))}}
              </th>
              <th>
                <div class="row" style="margin-left: 30px">
                  <button class="btn btn-outline-danger btn-round"   (click)="deleteTask(p.id , p)">
                    <i class="fa fa-trash"></i>
                  </button>

                  <button style="margin-left: 3%"  class="btn btn-outline-success btn-round"  (click)="service.setTask(p)" routerLinkActive="active" routerLink="/task-update" >
                    <i class="fa fa-edit"></i>
                  </button>

                  <!--  <button class="btn  btn-outline-default">
                      <i class="fa fa-info-circle"></i>
                    </button> -->
                </div>
              </th>

            </tr>
          }

          </tbody>
        </table>
        <div  style="  display: flex ; flex-direction: row ; justify-content: center" class="row-cols-5" *ngIf="dataSource.length == 0 ">
          <h5>Aucune tache</h5>
        </div>
      </div>
    </div>
  </div>
  @if(dataSource.length > 0){
    <pagination-controls
      class="pagination-controls"
      (pageChange)="pageChanged($event)"
      (pageBoundsCorrection)="pageChanged($event)"
      previousLabel="Précédant"
      nextLabel="suivant"
      screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page"
      screenReaderCurrentLabel="You're on page"
    >
    </pagination-controls>

  }

</div>
