<!--

-->





<div   class="col-lg-9 col-md-6 col-6" style="margin-left:  100px; "   >
  <div class="card card-stats">
    <div class="card-body">
      <div class="row">
        <div class="col-5 col-md-4">
          <div class="icons- text-lg-left icon-warning" style="margin-top: 3px">
            <i class="nc-icon nc-tile-56 text-default"></i>
          </div>
        </div>
        <div class="col-7 col-md-8">
          <div class="numbers">
            <p class="card-category">formulaire</p>
          </div>
        </div>
        <div class="col-xl-9 col-md-8">
          <div class="card-header">
            <h2 class="card-title">enregistrement d'un contenu </h2>
          </div>
        </div>
      </div>
      <form   [formGroup]="contenuForm" (ngSubmit)= "createContenu()">
        <div class="row" style="border-top: solid 1px lightgray">
          <div class="card-body  col-sm-6">
            <div class="form-group has-label col-xl-11" style="width: 100%">
              <label class="control-label" for="name">Nom du contenu: <span class="star">*</span></label>
              <input formControlName="title" class="form-control ng-pristine ng-invalid ng-touched" name="title"   required type="text"
              [ngClass]="{
                'is-invalid' : contenuForm.controls.title.invalid &&  contenuForm.controls.title.dirty ,
                'is-valid' : contenuForm.controls.title.valid
              }"
              >
              @if(contenuForm.controls.title.invalid &&  contenuForm.controls.title.dirty){<small class="text-danger">Le titre est requis </small>}

            </div>
          </div>
          <div class="card-body  col-sm-6">
            <div class="form-group has-label col-xl-11" style="width: 100%">
              <label class="control-label" for="name">Theme du contenu: <span class="star">*</span></label>
              <input formControlName="theme" class="form-control ng-pristine ng-invalid ng-touched" name="theme"  required type="text"
              [ngClass]="{
              'is-invalid' : contenuForm.controls.theme.dirty && contenuForm.controls.theme.invalid ,
              'is-valid' : contenuForm.controls.theme.valid
              }"
              >
              @if(contenuForm.controls.theme.dirty && contenuForm.controls.theme.invalid ){<small class="text-danger"> Le thème est requis</small>}
            </div>
          </div>
          <div class="card-body  col-sm-6">
            <div class="form-group has-label col-xl-11" style="width: 100%">
              <label class="control-label" for="email">Nature du contenu: <span class="star">*</span></label>
              <input formControlName="nature" class="form-control ng-pristine ng-invalid ng-touched" name="nature"   required type="text"

              [ngClass]="{
                'is-invalid' : contenuForm.controls.nature.invalid && contenuForm.controls.nature.dirty ,
                'is-valid' : contenuForm.controls.nature.valid
              }"
              >
              @if( contenuForm.controls.nature.invalid && contenuForm.controls.nature.dirty){<small class="text-danger">La nature du contenu est requise  </small>}

            </div>
          </div>
          <div class="card-body  col-sm-6">
            <div class="form-group has-label col-xl-11" style="width: 100%">
              <label class="control-label" for="email">Langue  du contenu: <span class="star">*</span></label>
              <input formControlName="language" class="form-control ng-pristine ng-invalid ng-touched" name="language"  required type="text"
              [ngClass]="{
                'is-invalid' : contenuForm.controls.language.dirty && contenuForm.controls.language.invalid ,
                'is-valid' : contenuForm.controls.language.valid
              }"
              >
              @if(contenuForm.controls.language.dirty && contenuForm.controls.language.invalid){ <small class="text-danger">La langue est requise  </small>}

            </div>
          </div>
          <div class="card-body  col-sm-6">
            <div class="form-group has-label col-xl-11" style="width: 100%">
              <label class="control-label" for="number">  Date de création du contenu: <span class="star">*</span></label>
              <input formControlName="creation_date" class="form-control" name="creation_date" required type="date"
              [ngClass]="{
                'is-invalid' : contenuForm.controls.creation_date.invalid && contenuForm.controls.creation_date.dirty ,
                'is-valid' : contenuForm.controls.creation_date.valid
              }"
              >
              @if (contenuForm.controls.creation_date.dirty && contenuForm.controls.creation_date.invalid){<small class="text-danger">La date de création est requise </small>  }

            </div>

          </div>

          <div class="card-body  col-sm-6">
            <div class="col-lg-6 col-md-6 col-sm-3">
              <div class="dropdown">
                <div class="form-group  ">
                  <label class="control-label"  for="name">Status du  contenu: <span class="star">*</span></label>
                  <select id="ContenuSelect"  formControlName="status" name="status"   class="form-control "   style="width: 200%;  "
                  [ngClass]="{
                    'is-invalid' : contenuForm.controls.status.dirty && contenuForm.controls.status.invalid ,
                    'is-valid' : contenuForm.controls.status.valid
                  }"
                  >
                    <option value="" disabled selected>Choix de status du contenu</option>
                    <option value="En conception" >En conception</option>
                    <option value="Publié">publié</option>


                  </select>
                  @if(contenuForm.controls.status.dirty && contenuForm.controls.status.invalid){  <small class="text-danger">Le status du contenu est requis</small> }
                </div>
              </div>

            </div>


          </div>


          <div class="card-body  col-sm-6">
            <button class="btn btn-outline-default btn-round" [disabled]="contenuForm.invalid">
              <i class="fa fa-save"></i> enregistrer le contenu
            </button>
          </div>
        </div>
      </form>

    </div>

  </div>


</div>


<!--


-->


