

<div class="col-md-12">
  <div class="card">
    <div class="card-header row">
      <div class="col">
        <h4 class="card-title">Liste de tout les contenu</h4>
      </div>
      <div class="col text-right" >
        <div>
          <div class="input-group no-border text-right">
            <button   (click)="generePdf()" class="btn btn-outline-default btn-round"  style="margin-left: 100px">
              <i class="nc-icon nc-cloud-download-93"></i> imprimer la liste de contenu
            </button>
          </div>
        </div>
      </div>
    </div>


    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class=" text-default">
          <th *ngFor="let h of header" style="width: 100px">
            {{h}}
          </th>
          </thead>
          <tbody>
          <tr *ngFor="let c of contenus">
            <th>
              {{contenus.indexOf(c) + 1 }}
            </th>
            <th>
              {{c.title}}
            </th>
            <th>
              {{c.theme}}
            </th>
            <th>
              {{c.nature}}
            </th> <th>
              {{c.language}}
            </th> <th>
              {{c.creation_date}}
            </th> <th>
              {{c.status}}
            </th>
            <th>
              <div class="row" style="margin-left: 20px">
                <button class="btn btn-outline-default-default" style="margin-bottom: 5px"  (click)="deleteContenu(c.id)">
                  <i class="fa fa-trash"></i>
                </button>

                <button class="btn btn-outline-default"  (click)="service.setContenu(c)" routerLinkActive="active" routerLink="/contenu-update" >
                  <i class="fa fa-edit"></i>
                </button>

                <!--  <button class="btn  btn-outline-default">
                    <i class="fa fa-info-circle"></i>
                  </button> -->
              </div>
            </th>

          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
