<div class="row" style=" height:1000px">
  <div class="col-md-12">
    <div class="card ">
      <div style="border-bottom: #d1cece solid 1px" class="card-header">
        <h5 class="card-title ">Messages</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-plain">

              <div class="card-body">
                @for(message of ListMessages  ; track message.id ){
                  <div  [ngClass]="{'is-sent': message.nature == 'sent_message', 'is-received': message.nature == 'received_message'}" class="card card-stats col-md-12 alert alert-dismissible animate__animated animate__fadeInUp"
                  >
                    <div class="card-body" >
                      <div class="row">
                        <div data-notify="container">
                          <button type="button" aria-hidden="true" (click)="delete(message.id , message.nature)" class="close text-danger"  data-dismiss="alert" aria-label="Close">
                            <i class="nc-icon nc-simple-remove "></i>
                          </button>
                          <p>
                            <span style="font-size: medium">{{message.content}}</span>
                          </p>
                          <p>Reçu Le : {{getTodayDate()}}</p>
                        </div>

                      </div>
                    </div>

                  </div>

                } @empty { }
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>
  <div class="row-10 col-md-12 col-lg-11" style="position:  fixed ;margin-top: 26% ; margin-right: 6%">
    <div class="card card-stats col-md-12 alert alert-dismissible animate__animated animate__fadeInUp">
      <div class="card-body" style="display: flex; flex-direction: column; justify-content: center; ">
        <!-- Zone de texte (Simulée par une div) -->
        <div class="textarea-wrapper" style=" border-radius: 10px ;  position: relative; width: 90%;   background-color: #dfdcdc; padding: 10px;">
          <textarea
            [(ngModel)]="content"
            class="form-control"
            rows="20"
            placeholder="Leave a comment here" name="content"  id="floatingTextarea2" style="width: 90%; height: 50%; border: none; background-color: transparent;  "></textarea>


          <button class="btn"
                  (click)="triggerFileInput()"
                  style="background-color: transparent; position: absolute; right: 10px; bottom: 15%; z-index: 2; padding: 5px 10px; height: 50%">
            <i class="fa fa-file" style="background:none;"></i>
          </button>


          <input
            type="file"
            id="fileInput"
            (change)="onFileSelected($event)"
            style="position: absolute; right: 10px; bottom: 10px; z-index: 1; opacity: 0; width: 40px; height: 20px; color: black">

        </div>
        <div>
          <button class="btn btn-success btn-round"  (click)="giveReceiver()"   >
            <i class="fa fa-send-o"></i> ENVOYER
          </button>
        </div>
      </div>
    </div>
  </div>


</div>





