




<div   class="col-lg-9 col-md-6 col-6" style="margin-left:  100px;margin-bottom: 500px "   >
  <div class="card card-stats">
    <div class="card-body ">
      <div class="row">
        <div class="col-5 col-md-4">
          <div class="icons- text-lg-left icon-warning" style="margin-top: 3px">
            <i class="nc-icon nc-tile-56 text-default"></i>
          </div>
        </div>
        <div class="col-7 col-md-8">
          <div class="numbers">
            <p class="card-category">formulaire</p>
          </div>
        </div>
        <div class="col-xl-9 col-md-8">
          <div class="card-header ">
            <h2 class="card-title">enregistrement d'une tache</h2>
          </div>
        </div>
      </div>
      <div class="row" style=" border-top: solid 1px lightgray">
        <form    [formGroup]="task" (ngSubmit)= "createTask()" style="width: 800px ;">
          <div class="row"  >
            <div class="card-body  col-md-6">
              <div class="form-group has-label col-xl-11" style="width: 100%">
                <label class="control-label" for="name">Nom de la tache: <span class="star">*</span></label>
                <input   formControlName="task_name" name="task_name" class="form-control ng-pristine ng-invalid ng-touched" placeholder="veuillez saisir la tache"  required type="text"
                   [ngClass]="{
                    'is-valid' : task.controls.task_name.valid ,
                    'is-invalid' : task.controls.task_name.invalid && task.controls.task_name.dirty
                   }"
                >
                @if( task.controls.task_name.invalid && task.controls.task_name.dirty){<small class="text-danger">Le nom de la tache est requis</small>}

              </div>
            </div>
            <div class="card-body  col-sm-6">
              <div class="form-group has-label col-xl-11" style="width: 100%">
                <label class="control-label" for="name">description de la tache: <span class="star">*</span></label>
                <textarea     formControlName="task_description" name="task_description" class="form-control" placeholder="veuillez saisir la description de la tache" rows="2"
                  [ngClass]="{
                    'is-invalid' : task.controls.task_description.invalid &&  task.controls.task_description.dirty ,
                    'is-valid' : task.controls.task_description.valid
                  }"
                ></textarea>
                @if(task.controls.task_description.invalid &&  task.controls.task_description.dirty){<small class="text-danger">La description de la tache est requise </small>}

              </div>
            </div>
            <div class="card-body  col-sm-6" style="margin-left: 20px">
              <button    type="submit" class="btn btn-outline-default btn-round" [disabled]="task.invalid">
                <i class="fa fa-save"></i> enregistrer
              </button>
            </div>




          </div>
        </form>
      </div>

    </div>

  </div>


</div>


<!--
-->
