<div class="col-md-12">
  <div class="card">
    <div class="card-header row">
      <div class="col">
        <h4 class="card-title">recherche des  </h4>
      </div>
      <div class="col text-right" style="margin-top: 6px">
        <form>
          <div class="input-group no-border">
            <input  [(ngModel)]="keyword"   name="keyword"  type="text"   class="form-control" placeholder="Search...">
            <div class="input-group-append">
              <div class="input-group-text">
                <button  (click)="search(keyword)"  type="submit" style="border: none"><i class="nc-icon nc-zoom-split"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>


    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class=" text-default">
          <th *ngFor="let h of header" style="width: 100px">
            {{h}}
          </th>
          </thead>
          <tbody>
          <tr *ngFor="let p of listEmployee">
            <th>
              {{listEmployee.indexOf(p) + 1 }}
            </th>
            <th>
              {{p.name}}
            </th>
            <th>
              {{p.surname}}
            </th>
            <th>
              {{p.birthday}}
            </th>
            <th>
              {{p.email}}
            </th>
            <th>
              {{p.phone}}
            </th>
            <th>
              {{p.address}}
            </th>
            <th>
              {{p.position.position_name}}
            </th>
            <th>
              <div class="row" style="margin-left: 30px ; margin-bottom: 5px">
                <button class="btn btn-outline-default-default"   (click)="deleteEmployee(p.id , p)">
                  <i class="fa fa-trash"></i>
                </button>

                <button class="btn btn-outline-default" style="margin-top: 8px;width: 55px" (click)="service.setEmployee(p)" routerLinkActive="active" routerLink="/employee-update" >
                  <i class="fa fa-edit"></i>
                </button>

                <!--  <button class="btn  btn-outline-default">
                    <i class="fa fa-info-circle"></i>
                  </button> -->
              </div>
            </th>

          </tr>

          </tbody>

        </table>
        <div  style="  display: flex ; flex-direction: row ; justify-content: center" class="row-cols-5" *ngIf="listEmployee.length == 0 ">
          <h4>Aucun employé</h4>
        </div>
      </div>
    </div>
  </div>
</div>
