<div class="col-md-12">
  <div class="card">
    <div class="card-header row">
      <div class="col">
        <h4 class="card-title">Liste des employés</h4>
      </div>
      <div class="col text-right" style="margin-top: 6px">
        <form>
          <div class="input-group no-border">
            <input type="text" value="" class="form-control" placeholder="Search...">
            <div class="input-group-append">
              <div class="input-group-text">
                <button type="submit" style="border: none"><i class="nc-icon nc-zoom-split"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>


    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class=" text-default">
          <th>
            id
          </th>
          <th >
            nom
          </th>
          <th>
            prenom
          </th>
          <th >
            actions
          </th>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

