
<div class="sidebar-wrapper"  >
  <div class="logo">
    <a  routerLinkActive="active" routerLink="/dashboard" class="simple-text logo-normal">
      <i class="nc-icon nc-chart-bar-32 "></i><span style="font-size: 18px">Employee manager</span>
    </a>
  </div>
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
           <ng-container *ngIf="menuItem.title != deconnexion">
               <a [routerLink]="[menuItem.path]">
                 <i class="nc-icon {{menuItem.icon}}"></i>
                 <p>{{menuItem.title}}</p>
               </a>
           </ng-container>
          <ng-container *ngIf="menuItem.title == deconnexion  ">
            <a [routerLink]="[menuItem.path]">
              <i class="nc-icon {{menuItem.icon}}"></i>
              <p>{{menuItem.title}}</p>
            </a>
          </ng-container>

        </li>


    </ul>
</div>
