
<div class="sidebar-wrapper">
  <div class="logo">
    <a href="https://www.creative-tim.com" class="simple-text logo-normal">
      <i class="nc-icon nc-bag-16"></i>
     <span style="font-size: 18px">Employee manager</span>
    </a>
  </div>
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i class="nc-icon {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
