<!--
<div   class="col-lg-9 col-md-6 col-6" style="margin-left:  100px;margin-bottom: 200px "   >
  <div class="card card-stats">
    <div class="card-body ">
      <div class="row">
        <div class="col-5 col-md-4">
          <div class="icons- text-lg-left icon-warning" style="margin-top: 3px">
            <i class="nc-icon nc-tile-56 text-default"></i>
          </div>
        </div>
        <div class="col-7 col-md-8">
          <div class="numbers">
            <p class="card-category">formulaire</p>
          </div>
        </div>
        <div class="col-xl-9 col-md-8">
          <div class="card-header ">
            <h2 class="card-title">Programmer une tache</h2>
          </div>
        </div>
      </div>
      <div class="row" style=" border-top: solid 1px lightgray">
        <form  [formGroup]="taskScheduled"   (ngSubmit)="createTaskScheduled()" style="width: 800px ;">
          <div class="row"  >
            <div class="card-body  col-sm-6">
              <div class="col-lg-6 col-md-6 col-sm-3">
                <div class="dropdown">

                  <div class="form-group">
                    <label for="contenuSelect" class="control-label">  Contenu: <span class="star">*</span></label>
                    <select id="contenuSelect" class="form-control"
                            formControlName="content"
                            style="width: 200% ; max-width : 400px"
                            [ngClass]="{
                  'is-invalid': taskScheduled.controls.content.invalid && taskScheduled.controls.content.dirty,
                  'is-valid': taskScheduled.controls.content.valid
                }">
                      <option value="" disabled selected>Choisir un contenu</option>
                      <option *ngFor="let c of listContent" [value]="c.id">
                        {{ c.title }}
                      </option>
                    </select>
                    @if(taskScheduled.controls.content.invalid && taskScheduled.controls.content.dirty){<small class="text-danger">Le nom du contenu es requis</small>}
                  </div>

                </div>
              </div>
            </div>
            <div class="card-body  col-sm-6">
              <div class="col-lg-6 col-md-6 col-sm-3">
                <div class="dropdown">
                  <div class="form-group">
                    <label class="control-label"  for="taskInserted">Tache: <span class="star">*</span></label>
                    <select id="taskSelect" class="form-control"
                            formControlName="taskInserted"
                            style="width: 200% ; max-width : 400px"
                            [ngClass]="{
                  'is-invalid': taskScheduled.controls.taskInserted.invalid && taskScheduled.controls.taskInserted.dirty,
                  'is-valid': taskScheduled.controls.taskInserted.valid
                }">
                      <option value="" disabled selected>Choisir une tache</option>
                      <option *ngFor="let task of ListTaskInserted" [value]="task.id">
                        {{ task.task.task_name}}
                      </option>
                    </select>
                    @if(taskScheduled.controls.taskInserted.invalid && taskScheduled.controls.taskInserted.dirty){<small class="text-danger">La nom de la tache est requise</small>}
                  </div>
                </div>

              </div>


            </div>
            <div class="card-body  col-sm-6">
              <div class="form-group has-label col-xl-11"  >
                <label class="control-label" for="beginning">début de tache: <span class="star">*</span></label>
                <input class="form-control" type="date" formControlName="beginning"
                       [ngClass]="{
                 'is-invalid': taskScheduled.controls.beginning.invalid && taskScheduled.controls.beginning.dirty,
                 'is-valid': taskScheduled.controls.beginning.valid
               }">
                @if (taskScheduled.controls.beginning.dirty &&  taskScheduled.controls.beginning.invalid){<small class="text-danger">La date de début de tache es requise</small>}

              </div>
            </div>
            <div class="card-body  col-sm-6">
              <div class="form-group has-label col-xl-11"  >
                <label class="control-label" for="end">fin de tache: <span class="star">*</span></label>
                <input class="form-control" type="date" formControlName="end"
                       [ngClass]="{
                 'is-invalid': taskScheduled.controls.end.invalid && taskScheduled.controls.end.dirty,
                 'is-valid': taskScheduled.controls.end.valid
               }">
                @if (taskScheduled.controls.end.invalid && taskScheduled.controls.end.dirty){<small class="text-danger">La date de fin de tache est requise</small>}

              </div>
            </div>



            <div class="card-body  col-sm-6" style="margin-left: 20px">
              <button    type="submit" class="btn btn-outline-default btn-round"  [disabled]="taskScheduled.invalid" >
                <i class="fa fa-thumb-tack"></i> &nbsp;  progammer la tache
              </button>
            </div>




          </div>
        </form>
      </div>

    </div>

  </div>


</div>




-->

