<div class="row">
  <div class="col-md-8 ml-auto mr-auto">
    <div class="card card-upgrade">
      <div class="card-header text-center">
        <h4 class="card-title">Paper Dashboard PRO Angular</h4>
        <p class="card-category">Are you looking for more components? Please check our Premium Version of Paper Dashboard PRO.</p>
      </div>
      <div class="card-body">
        <div class="table-responsive table-upgrade">
          <table class="table">
            <thead>
            <th class="text-center">Intiltulé</th>
            <th class="text-center"> icon</th>
            <th >valeurs</th>

            </thead>
            <tbody>
                <tr>
                  <td>Nom et Prénom de l'employé :</td>
                  <td class="text-center"><i class="fa fa-user"></i></td>
                  <td class="text-center">160</td>
                </tr>

                <tr>
                  <td>Username :</td>
                  <td class="text-center"><i class="fa fa-user-circle-o"></i></td>
                  <td class="text-center">27</td>
                </tr>
                <tr>
                  <td>Date de naissance :</td>
                  <td class="text-center"><i class="fa fa-birthday-cake"></i></td>
                  <td class="text-center"><i class="nc-icon nc-check-2 text-success"></i></td>
                </tr>
                <tr>
                  <td> Poste  :</td>
                  <td class="text-center"><i class="fa fa-briefcase"></i></td>
                  <td class="text-center"><i class="nc-icon nc-check-2 text-success"></i></td>
                </tr>
                <tr>
                  <td> Email  :</td>
                  <td class="text-center"><i class="fa fa-envelope"></i></td>
                  <td class="text-center"><i class="nc-icon nc-check-2 text-success"></i></td>
                </tr>
                <tr>
                  <td>Nombre de tache :</td>
                  <td class="text-center"><i class="fa  fa-tasks"></i></td>
                  <td class="text-center"><i class="nc-icon nc-check-2 text-success"></i></td>
                </tr>
                <tr>
                  <td>Bonus :</td>
                  <td class="text-center"> <i class="fa fa-gift"></i></td>
                  <td class="text-center">Just $49</td>

                </tr>
                <tr>
                  <td>Montant :</td>
                  <td class="text-center">  <i class="fa fa-dollar"></i></td>
                  <td class="text-center">Just $49</td>
                </tr>
                <tr>
                  <td class="text-center"></td>
                  <td class="text-center">
                    <a href="#" class="btn btn-round btn-default disabled">Current Version</a>
                  </td>
                  <td class="text-center">
                    <a target="_blank" href="https://www.creative-tim.com/product/paper-dashboard-pro-angular?ref=pd-free-angular-upgrade-live" class="btn btn-round btn-primary">Upgrade to PRO</a>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
