<div class="col-md-12">
  <div class="card">
    <div class="card-header row">
      <div class="col">
        <h4 class="card-title">Liste des postes</h4>
      </div>
      <div class="col text-right" >
        <form>
          <div class="input-group no-border text-right">
            <button class="btn btn-outline-default btn-round"  style="margin-left: 100px">
              <i class="nc-icon nc-cloud-download-93"></i> imprimer la liste de postes
            </button>
          </div>
        </form>
      </div>
    </div>


    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class=" text-default">
          <th>
            id
          </th>
          <th >
            nom du poste
          </th>
          <th>
            description
          </th>
          <th >
            actions
          </th>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
