<div class="row" style="margin-left: 100px">

  <div class="col-md-9 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-zoom-split text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">recherche</p>
              <p class="card-title"> rechercher un bulletins
              <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="nc-icon nc-minimal-right"></i>  <button   routerLinkActive="active" routerLink="/payStub-search" class="btn btn-success btn-neutral">recherche ici</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-paper text-default"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Liste</p>
              <p class="card-title">Liste des tout les bullentins
              <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="nc-icon nc-minimal-right"></i> <button  routerLinkActive="active" routerLink="/payStub-list" class="btn btn-default btn-neutral">afficher ici</button>
        </div>
      </div>
    </div>
  </div>



</div >

<router-outlet></router-outlet>











