<div class="col-md-12 " style="margin-bottom: 500px">
  <div class="card">
    <div class="card-header row">
      <div class="col">
        <h4 class="card-title">Liste des  congés attribués</h4>
      </div>
      <div class="col text-right" >
        <div>
          <div class="input-group no-border text-right">
            <button (click)="generePdf()" class="btn btn-outline-default btn-round"  style="margin-left: 100px">
              <i class="nc-icon nc-cloud-download-93"></i> imprimer la liste des congés
            </button>
          </div>
        </div>
      </div>
    </div>


    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class=" text-default">
          <th *ngFor="let h of header" style="width: 100px">
            {{h}}
          </th>
          </thead>
          <tbody>
          <tr *ngFor="let p of listConge">
            <th>
              {{listConge.indexOf(p) + 1 }}
            </th>
            <th>
              {{p.beginning}}
            </th>
            <th>
              {{p.end}}
            </th>
            <th>
              {{p.type}}
            </th>
            <th>
              <p *ngIf="p.status; else notValidated">Validate</p>
              <ng-template #notValidated>
                <p>Not validate</p>
              </ng-template>
            </th>
            <th>
              Mr/Mme
              <span>{{p.timeOffApply.employee.name}} &nbsp;</span>
              <span>{{p.timeOffApply.employee.surname}}</span>

            </th>
            <th>
              <div class="row" style="margin-left: 30px ; margin-bottom: 5px">
                <button class="btn btn-outline-default-default"   (click)="deleteConge(p.id)">
                  <i class="fa fa-trash"></i>
                </button>

              <!--  <button class="btn btn-outline-default"  (click)="service.setConge(p)" routerLinkActive="active" routerLink="/conge-update" >
                  <i class="fa fa-edit"></i>
                </button> -->

                <!--  <button class="btn  btn-outline-default">
                    <i class="fa fa-info-circle"></i>
                  </button> -->
              </div>
            </th>

          </tr>
          </tbody>
        </table>
        <div  style="  display: flex ; flex-direction: row ; justify-content: center" class="row-cols-5" *ngIf="listConge.length == 0 ">
          <h5>Aucun congé attribué</h5>
        </div>
      </div>
    </div>
  </div>
</div>
