<div   class="col-lg-9 col-md-6 col-6 animate__animated animate__fadeInUp" style="margin-left:  100px;margin-bottom: 200px "
>

  <div class="card card-stats">
    <div class="card-body ">
      <div class="row">
        <div class="col-5 col-md-4">
          <div class="icons- text-lg-left icon-warning" style="margin-top: 3px">
            <i class="nc-icon nc-tile-56 text-default"></i>
          </div>
        </div>
        <div class="col-7 col-md-8">
          <div class="numbers">
            <p class="card-category">formulaire</p>
          </div>
        </div>
        <div class="col-xl-9 col-md-8">
          <div class="card-header ">
            <h2 class="card-title">Modifier la planification</h2>
          </div>
        </div>
      </div>
      <div class="row" style=" border-top: solid 1px lightgray">
        <form [formGroup]="taskScheduled_2" (ngSubmit)="UpdateTaskScheduled()" style="width: 800px ;">
          <div class="row"  >
            <div class="card-body  col-sm-6">
              <div class="col-lg-6 col-md-6 col-sm-3">
                <div class="dropdown">

                  <div class="form-group">
                    <label for="contenuSelect" class="control-label">  Contenu: <span class="text-danger">*</span></label>
                    <select id="contenuSelect" class="form-control"
                            formControlName="content"
                            style="width: 200% ; max-width : 400px"
                      >
                      <option value="" disabled selected>Choisir un contenu</option>
                      <option *ngFor="let c of listContent" [value]="c.id">
                        {{ c.title }}
                      </option>
                    </select>

                  </div>

                </div>
              </div>
            </div>
            <div class="card-body  col-sm-6">
              <div class="col-lg-6 col-md-6 col-sm-3">
                <div class="dropdown">
                  <div class="form-group">
                    <label class="control-label"  for="taskInserted">Tache: <span class="star">*</span></label>
                    <select id="taskSelect" class="form-control"
                            formControlName="taskInserted"
                            style="width: 200% ; max-width : 400px"
                             >
                      <option value="" disabled selected>Choisir une tache</option>
                      <option *ngFor="let task of ListTaskInserted" [value]="task.id">
                        {{ task.task.task_name}}
                      </option>
                    </select>

                  </div>
                </div>

              </div>


            </div>
            <div class="card-body  col-sm-6">
              <div class="form-group has-label col-xl-11"  >
                <label class="control-label" for="beginning">début de tache: <span class="text-danger">*</span></label>
                <input class="form-control" type="date" formControlName="beginning"
                      >


              </div>
            </div>
            <div class="card-body  col-sm-6">
              <div class="form-group has-label col-xl-11"  >
                <label class="control-label" for="end">fin de tache: <span class="text-danger">*</span></label>
                <input class="form-control" type="date" formControlName="end"
                >


              </div>
            </div>


            @if(task.type == "Collective"){

              <div class="card-body  col-sm-6">

                <div class="form-group has-label col-xl-11">
                  <label class="control-label" for="nbrPerson">Nombre de personnes <span class="text-danger">*</span></label>
                  <input formControlName="nbrPerson" class="form-control" id="nbPerson" required type="number" min="1" max="10" placeholder="1">

                </div>
              </div>

            }


            <button    type="submit" class="btn btn-outline-default btn-round " style="height: 48px; margin-top: 40px ;margin-left: 40px"    >
              <i class="fa fa-refresh"></i> &nbsp;  modifier
            </button>





          </div>
        </form>
      </div>

    </div>

  </div>


</div>
