<div class="col-md-12">
  <div class="card">
    <div class="card-header row">
      <div class="col">
        <h4 class="card-title">Liste des tache programmées</h4>
      </div>
      <div class="col text-right" >

        <form >
          <div  >
            <button   class="btn btn-outline-default btn-round" style="margin-left: 100px">
              <i class="nc-icon nc-cloud-download-93"></i> imprimer la liste des taches programmées
            </button>

          </div>
        </form>
      </div>
    </div>


    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class=" text-default">
          <th *ngFor="let h of header" style="width: 100px">
            {{h}}
          </th>
          </thead>
          <tbody>
          <tr *ngFor="let p of dataSource">
            <th>
              {{dataSource.indexOf(p) + 1 }}
            </th>
            <th>
              {{p.beginning}}
            </th>
            <th>
              {{p.end}}
            </th>
            <th>
              {{p.content.title}}
            </th>
            <th>
              {{p.taskInserted.task.task_name}}
            </th>
            <th>
              {{(p.status)? status.at(0) : status.at(1) }}
            </th>
            <th>
              <div class="row" >
                <button  style="margin-left: 8px ;width: 57px"  class="btn btn-outline-default"  (click)="service.setTaskSchedule(p)" routerLinkActive="active"  routerLink="/user-task-update"  >
                  <i class="fa fa-edit"></i>
                </button>

                <button  (click)="delete(p)"  class="btn  btn-default">
                    <i class="fa fa-remove"></i>
                </button>
              </div>
            </th>

          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!--   <th>
              <div class="row" style="margin-left: 30px ; margin-bottom: 5px">
                <button class="btn btn-outline-default-default"   (click)="deleteEmployee(p.id)">
                  <i class="fa fa-trash"></i>
                </button>

                <button class="btn btn-outline-default" style="margin-top: 8px;width: 55px" (click)="service.setEmployee(p)" routerLinkActive="active" routerLink="/employee-update" >
                  <i class="fa fa-edit"></i>
                </button>

                  <button class="btn  btn-outline-default">
                    <i class="fa fa-info-circle"></i>
                  </button> -->
