<div class="row">
  <div class="col-md-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-circle-10 text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Employés</p>
              <p class="card-title">150 individus
              <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-arrow-circle-right"></i>  <button  class="btn btn-warning btn-neutral">en savoir plus</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-bookmark-2 text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Taches</p>
              <p class="card-title"> {{nbrTask}} planifiée(s)
              <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-arrow-circle-right"></i>  <button  class="btn btn-success btn-neutral">en savoir plus</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon  nc-badge text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Postes</p>
              <p class="card-title"> {{nbrPosition}} identifié(s)
              <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-arrow-circle-right"></i>  <button  class="btn btn-danger btn-neutral">en savoir plus</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-book-bookmark text-info"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Contenu</p>
              <p class="card-title">{{nbrContenu}} réalisés
              <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-arrow-circle-right"></i>  <button  class="btn btn-info btn-neutral">en savoir plus</button>
        </div>
      </div>
    </div>
  </div>
</div >



