




<div   class="col-lg-9 col-md-6 col-6" style="margin-left:  100px; margin-bottom: 500px"   >
  <div class="card card-stats">
    <div class="card-body ">
      <div class="row">
        <div class="col-5 col-md-4">
          <div class="icons- text-lg-left icon-warning" style="margin-top: 3px">
            <i class="nc-icon nc-tile-56 text-default"></i>
          </div>
        </div>
        <div class="col-7 col-md-8">
          <div class="numbers">
            <p class="card-category">formulaire</p>
          </div>
        </div>
        <div class="col-xl-9 col-md-8">
          <div class="card-header ">
            <h2 class="card-title">enregistrement d'un poste</h2>
          </div>
        </div>
      </div>
      <div class="row" style=" border-top: solid 1px lightgray">
        <form  [formGroup]="position" (ngSubmit)= "createPosition()" style="width: 800px ;">
          <div class="row"  >
            <div class="card-body  col-md-6">
              <div class="form-group has-label col-xl-11" style="width: 100%">
                <label class="control-label" for="name">Nom du poste: <span class="star">*</span></label>
                <input   formControlName="position_name" name="position_name" class="form-control ng-pristine ng-invalid ng-touched" placeholder="veuillez saisir le poste"  required type="text">
                <small class="text-danger" hidden> Le nom du poste doit etre saisi  </small>
              </div>
            </div>
            <div class="card-body  col-sm-6">
              <div class="form-group has-label col-xl-11" style="width: 100%">
                <label class="control-label" for="name">description du poste: <span class="star">*</span></label>
                <textarea     formControlName="position_description" name="position_description" class="form-control" placeholder="veuillez saisir la description du poste" rows="2"></textarea>

              </div>
            </div>
            <div class="card-body  col-sm-6" style="margin-left: 20px">
              <button    type="submit" class="btn btn-outline-default btn-round">
                <i class="fa fa-save"></i> enregistrer
              </button>
            </div>




          </div>
        </form>
      </div>

    </div>

  </div>


</div>


<!--
<form novalidate class="ng-pristine ng-invalid ng-touched" >

  <div class="card-body">
    <div class="form-group has-label">
      <label class="control-label" for="email">Email Address: <span class="star">*</span></label>
      <input class="form-control ng-pristine ng-invalid ng-touched" name="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" required type="email">
      <small class="text-danger" hidden> Email is required and format should be   </small>
    </div>
    <div class="form-group has-label">
      <label class="control-label" for="password">Password <span class="star">*</span></label>
      <input class="form-control ng-untouched ng-pristine ng-invalid" name="password" required type="password" validateequal="confirmPassword">
      <small class="text-danger" hidden> Password is required </small>
    </div>
    <div class="form-group has-label">
      <label class="control-label" for="confirmPassword">Confirm Password <span class="star">*</span></label>
      <input class="form-control ng-untouched ng-pristine ng-invalid" name="confirmPassword" required type="password" validateequal="password">
      <small class="text-danger" hidden> Password mismatch </small>
    </div>
    <div class="category">
      <span class="star">*</span> Required fields
    </div>
  </div>
  <div class="card-footer text-right">

    <button class="btn btn-primary" type="submit">Register</button>
  </div>
</form>

-->
